scipy
pandas
torch
torchvision
networkx
matplotlib
numpy
PyYAML
scikit-image
scikit-learn
pytest
configargparse
seaborn
git+https://github.com/lejeunel/superpixPool#egg=superpixPool
git+https://github.com/lejeunel/pyksp#egg=pyksp
filterpy
