scipy
sharedmem
progressbar2
pandas
munch
ruamel.yaml
cvxopt
torch-gpu
torchvision
networkx==1.10
matplotlib
numpy
PyYAML
scikit-image
scikit-learn
pytest
configargparse
seaborn
git+https://github.com/LucaMarconato/superpixPool#egg=suppixpool_CUDA&subdirectory=pytorch_superpixpool
filterpy
